# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Large Data
Track_1_SD_DevData_1/
outputs/
models/*.pt
models/*.pth
models/*.bin

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
